doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
		meta(name="viewport",content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		block title
		link(rel="shortcut icon",href="/favicon.ico")
		link(rel="canonical",href="http://www.Giccoo.com")

		//- font and css
		link(href="/assets/css/bootstrap.min.css",media="all",rel="stylesheet",type="text/css")
		link(href="/assets/css/font-awesome.min.css",media="all",rel="stylesheet",type="text/css")
		link(href="/assets/css/main.min.css",media="all",rel="stylesheet",type="text/css")
		link(href="/css/foradmin.css",media="all",rel="stylesheet",type="text/css")
		
		//- link(href="css/admin/color/orange.css",media="all",rel="alternate,stylesheet",title="orange-theme",type="text/css")
		//- link(href="css/admin/color/magenta.css",media="all",rel="alternate,stylesheet",title="magenta-theme",type="text/css")
		//- link(href="css/admin/color/gray.css",media="all",rel="stylesheet",title="gray-theme",type="text/css")
		
		block css
		//- script(src="/js/vendor/modernizr-2.6.2.min.js")
		//if lte IE7
			style .support-note .note-ie{display:block;}
	body
		div.wrapper
			include alert
			include top
			div.bottom
				div.container
					div.row
						div.col-md-2.left-sidebar
							include nav
						div.col-md-10.content-wrapper
							div.row
								div.col-md-4
									ul.breadcrumb
										li
											i.fa.fa-home
											a(href="/admin") Home
										block crumb
								div.col-md-8
									//- include nav-model
									block nav-model
							div.content
								div.main-header
									block main-header
								block content-here
			footer.footer &copy; 2014 Giccoo
		
		//- footer.footer(id="footer")
		//- check menu active
		-var _menu = '[';
		-if (active) { for(var i=0;i<active.length;i++){ _menu+='"'+active[i]+'",' } }
		-_menu=_menu.substr(0,_menu.length-1); _menu+="]";
		-if (_menu == "]"){_menu = '["dashboard"]'}
		script.
			var _menu = !{_menu};
			
		- var jslist =['assets/js/jquery-1.7.2.min.js','assets/js/bootstrap.js','assets/js/modernizr.js','assets/js/king-common.min.js']
		-for(var i=0;i<jslist.length;i++)
			script(src="/#{jslist[i]}",type="text/javascript")
		//- script(src="#{config.cdn}/js/vendor/require.js")
		block thisPageScript 
		- var lastjslist = ['assets/js/jquery.gritter.min.js','js/admin/main.js']
		-for(var j=0;j<lastjslist.length;j++)
			script(src="/#{lastjslist[j]}",type="text/javascript")
		block thisPageJs