extends layout 
block title

block crumb
	li User
	li.active User Edit
block nav-model
	div.top-content
		//- ul.list-inline.mini-stat
			li
				h5 Tag Count
					span.stat-value.stat-color-orange
						i.fa.fa-plus-circle
						|  0
				//- span#mini-bar-chart1.mini-bar-chart
			li
				h5 SUBSCRIBERS
					span.stat-value.stat-color-blue
						i.fa.fa-plus-circle
						|  150,743
				span#mini-bar-chart2.mini-bar-chart
			li
				h5 CUSTOMERS
					span.stat-value.stat-color-seagreen
						i.fa.fa-plus-circle
						|  150,743
				span#mini-bar-chart3.mini-bar-chart
block content-here
	div.main-header 
		h2 Eidt this User
		em Show the user info here.
	div.main-content
		div.row
			div.col-md-6
				div.widget
					div.widget-header
						h3
							i.fa.fa-tags
							| User form
					div.widget-content
						-if (!edit){ edit= {_id:"new",name:"",email:"",avatar:avatar,motto:"",active:"",sex:"",is_admin:"",description:"",social:{weibo:"",facebook:"",twitter:"",dribbble:"",instagram:"",github:""},art_count:0,work_count:0,reply_count:0} }
						form(method="post",action="/admin/user/#{edit._id}")
							div.form-group
								label User name
								input.form-control.parsley-validated(name="name",type="text",value="#{edit.name}",required)
							div.form-group
								label Email
								input.form-control.parsley-validated(name="email",type="email",value="#{edit.email}",required)
							div.form-group
								label Description
								include editor-btn
								textarea#editor.form-control(name="editor",rows="5",cols="30") #{edit.description}
							div.form-group
								label Avatar
								div
									a(href="http://www.gravatar.com/",target="_blank")
										img(src="#{edit.avatar}")
							div.form-group
								label Motto
								input.form-control.parsley-validated(name="motto",type="text",value="#{edit.motto}")
							div.form-group
								div.input-group
									span.input-group-addon
										i.fa.fa-weibo
									input.form-control.parsley-validated(name="weibo",type="text",value="#{edit.social.weibo}")
							div.form-group
								div.input-group
									span.input-group-addon
										i.fa.fa-facebook-square
									input.form-control.parsley-validated(name="facebook",type="text",value="#{edit.social.facebook}")
							div.form-group
								div.input-group
									span.input-group-addon
										i.fa.fa-twitter
									input.form-control.parsley-validated(name="twitter",type="text",value="#{edit.social.twitter}")
							div.form-group
								div.input-group
									span.input-group-addon
										i.fa.fa-dribbble
									input.form-control.parsley-validated(name="dribbble",type="text",value="#{edit.social.dribbble}")
							div.form-group
								div.input-group
									span.input-group-addon
										i.fa.fa-instagram
									input.form-control.parsley-validated(name="instagram",type="text",value="#{edit.social.instagram}")
							div.form-group
								div.input-group
									span.input-group-addon
										i.fa.fa-github
									input.form-control.parsley-validated(name="github",type="text",value="#{edit.social.github}")
							div.form-group
								p
									label Active
								-if (edit.active)
									input.switch-demo.switch-small(type="checkbox",name="active",data-on="success",data-off="warning",data-on-label="<i class='fa fa-check'></i>",data-off-label="<i class='fa fa-warning'></i>",checked)
								-else
									input.switch-demo.switch-small(type="checkbox",name="active",data-on="success",data-off="warning",data-on-label="<i class='fa fa-check'></i>",data-off-label="<i class='fa fa-warning'></i>")
							div.form-group
								p
									label Admin
								-if (edit.is_admin)
									input.switch-demo.switch-small(type="checkbox",name="is_admin",data-on="success",data-off="warning",data-on-label="<i class='fa fa-check'></i>",data-off-label="<i class='fa fa-warning'></i>",checked)
								-else
									input.switch-demo.switch-small(type="checkbox",name="is_admin",data-on="success",data-off="warning",data-on-label="<i class='fa fa-check'></i>",data-off-label="<i class='fa fa-warning'></i>")
							div.form-group
								label Info
								div
									div.label.label-primary blogs:  
										span.badge.element-bg-color-orange #{edit.art_count}
									|   
									div.label.label-primary works:  
										span.badge.element-bg-color-orange #{edit.work_count}
									|   
									div.label.label-primary recomment:  
										span.badge.element-bg-color-orange #{edit.reply_count}
							div.form-group
								//- button#bottom-right.btn.btn-lg.btn-block.btn-info.btn-gritter-position.btn-gritter() tip
								button.btn.btn-primary(type="submit") Submit
								button.btn.btn-default(type="reset") Reset
			div.col-md-6
				div.widget
					div.widget-header
						h3
							i.fa.fa-tags
							| User Description Preview
					div.widget-content
						p 管理员用户只能编辑自己和非管理员用户.
						p 如果你有社交帐号,请添加.
						p 请注意不要随机添加管理员,会引起很多麻烦.
						p 
				div.widget
					div.widget-header
						h3
							i.fa.fa-tags
							| User Description Preview
					div.widget-content
						//- div.blog-title
							h1#title
							p.info 2014-03-16 08:22
							div.author
								img(src="http://www.gravatar.com/avatar/242c9a188be878be87d71a314ceeae3d?size=48")
							hr
						//- div.userzw.hidden-xs
						include preview

block css
	link(href="/css/admin/codemirror.css",media="all",rel="stylesheet",type="text/css")
block thisPageScript
	-var pagejs = ['js/vendor/codemirror.js','js/vendor/showdown.js','js/vendor/codemode/markdown.js','assets/js/bootstrap-multiselect.js','assets/js/bootstrap-switch.min.js','assets/js/parsley.min.js']
	-for(var mn=0;mn<pagejs.length;mn++)
		script(src="/#{pagejs[mn]}",type="text/javascript")
block thisPageJs 
	script.
		$(document).ready(function() {
			fBindSwitch();
			fCreateEditor();
			fBindForm();
		});