extends layout 
block title

block crumb
	li Work
	li.active Tag List
block nav-model
	div.top-content
		ul.list-inline.mini-stat
			li
				h5 Work Count
					span.stat-value.stat-color-orange
						i.fa.fa-plus-circle
						|  0
				//- span#mini-bar-chart1.mini-bar-chart
			li
				h5 Work Best Author
					span.stat-value.stat-color-blue
						//- i.fa.fa-plus-circle
						img(src="http://www.gravatar.com/avatar/242c9a188be878be87d71a314ceeae3d?size=28")
						img(src="http://www.gravatar.com/avatar/242c9a188be878be87d71a314ceeae3d?size=28")
						img(src="http://www.gravatar.com/avatar/242c9a188be878be87d71a314ceeae3d?size=28")
				//- span#mini-bar-chart2.mini-bar-chart
			//- li
				h5 CUSTOMERS
					span.stat-value.stat-color-seagreen
						i.fa.fa-plus-circle
						|  150,743
				span#mini-bar-chart3.mini-bar-chart
block content-here
	div.main-header
		h2 Work List
		em Here's all your work project.
	div.main-content
		div.widget.widget-table
			div.widget-header
				h3
					i.fa.fa-table
					| Work List
				em Here's all your work project.
			div.widget-content
				table(class="table table-sorting table-striped table-hover datatable",cellpadding="0",cellspacing="0",width="100%")
					thead
						tr
							th Name
							th.hidden-xs Author
							th.hidden-xs language
							th.hidden-xs Create Date
							th
					tbody
						-for(var i=0;i<worklist.length;i++)
							-var date = worklist[i].create_at;
							-var dateStr = date.getFullYear() + '-' +(date.getMonth()>9?date.getMonth()+1:'0'+(date.getMonth()+1))+'-'+(date.getDate()>10?date.getDate():'0'+date.getDate())+' '+(date.getHours()>10?date.getHours():'0'+date.getHours())+':'+(date.getMinutes()>10?date.getMinutes():'0'+date.getMinutes())
								tr
									td #{worklist[i].title}
									td.hidden-xs
										a(href="/admin/user/#{worklist[i].author_id._id}")
											img(src="#{worklist[i].author_id.avatar}")
									td.hidden-xs #{worklist[i].language}
									td.hidden-xs #{dateStr}
									td
										a(href="/#work/#{worklist[i].shortname}",target="_blank")
											i.fa.fa-eye
										|  | 
										a(href="/admin/work/#{worklist[i]._id}")
											i.fa.fa-edit
										|  | 
										a.del-this(href="/admin/work/del/#{worklist[i]._id}")
											i.fa.fa-trash-o 


block thisPageScript
	script.
		_sort = [ [3,'desc'], [0,'asc'] ];
	-var pagejs = ['assets/js/datatable/jquery.dataTables.min.js','assets/js/datatable/jquery.dataTables.bootstrap.js','assets/js/king-table.min.js']
	-for(var mn=0;mn<pagejs.length;mn++)
		script(src="/#{pagejs[mn]}",type="text/javascript")