div#page-contact.pages.black-bg.white.page-contact
	div.container
		header
			h4.line-divider #{l.contact.title}
			h1 #{l.contact.subtitle}
			div.row
				div.span8.offset2
					p #{l.contact.description}
		article
			div.row-fluid
				div.span6
					h5 #{l.contact.formtitle}
					form
						input(type="text",class="span12",placeholder="Title",required="required")
						input(type="email",class="span12",placeholder="Email",required="required")
						textarea(rows="10",class="span12",required="required")
						button(type="submit",class="btn btn-primary") #{l.contact.submit}
				div.span5.offset1
					h5 #{l.contact.meetus}
					div.media
						div.social-icons.sicon-white.pull-left
							a.sicon-phone(href="") 
								i.fa.fa-phone
								//- #{l.contact.phone}
						div.media-body.smallFontBy08 #{l.contact._phone}
					div.media
						div.social-icons.sicon-white.pull-left
							a.sicon-phone(href="") 
								i.fa.fa-map-marker
								//- #{l.contact.location}
						div.media-body.smallFontBy08 #{l.contact._location}
					div.media
						div.social-icons.sicon-white.pull-left
							a.sicon-phone
								i.fa.fa-envelope-o
								//- #{l.contact.email}
						div.media-body.smallFontBy08 #{l.contact._email}
					div.media
						div.social-icons.sicon-white.pull-left
							a.sicon-phone(href="")
								i.fa.fa-users
						div.media-body.smallFontBy08 #{l.contact._company}
					br
					br
					br
					h5 #{l.contact.social}
					div.social-icons.sicon-white.bordered
						a.sicon-phone(href="",target="_blank")
							i.fa.fa-weibo
						a.sicon-phone(href="",target="_blank")
							i.fa.fa-twitter
	div#map-image
		img(src="/assets-gico/images/pages/contact/map_bck.jpg")