div#page-features.pages.white.paralax.page-features
	div.overlay
	div.container
		header
			h4.line-divider #{l.features.title}
			h1 #{l.features.subtitle}
			div.row
				div.span8.offset2
					p #{l.features.description}
		article
			div.row-fluid
				-for(var i=0;i<l.features.items.length;i++)
					div.span4.center
						img(src="/assets-gico/images/pages/features/#{l.features.items[i].img}")
						h5 #{l.features.items[i].title}
						p.smallFontBy08.cutBy10 #{l.features.items[i].description} 
			div.row-fluid
				div.span8.offset2
					div.quote.center
						div#quote-slider.slide
							div.carousel-inner
								div.active.item
									p #{l.features.clientsay[0].content}
									h5 #{l.features.clientsay[0].name}
								-for(var i=1;i<l.features.clientsay.length;i++)
									div.item
										p #{l.features.clientsay[i].content}
										h5 #{l.features.clientsay[i].name}
							ol.carousel-indicators
								li(data-target="#quote-slider",data-slide-to="0",class="active")
								-for(var i=1;i<l.features.clientsay.length;i++)
									li(data-target="#quote-slider",data-slide-to="#{i}")
								//- li(data-target="#quote-slider",data-slide-to="1")
								//- li(data-target="#quote-slider",data-slide-to="2")
