extends layout
block content_here
	section.homepage
		div#banner.banner
		div#content.content.growtopcontent
			div.container.services
				h3 #{l.services.h3}
				h2 #{l.services.h2}
				div.row
					div.span4
						h1
							a WEB DESIGN
						p We conceptualise and create your identity with something that’s engaging, unique, relevant and consistent to best communicate your brand message.
						p
							a.gbtn #{l.btn.moreinfo}
					div.span4
						h1
							a WEB DESIGN
						p We conceptualise and create your identity with something that’s engaging, unique, relevant and consistent to best communicate your brand message.
						p
							a.gbtn #{l.btn.moreinfo}
					div.span4
						h1
							a WEB DESIGN
						p Designing and producing beautiful websites is what we’re really passionate about. Your business is great and we’ll make sure your website amplifies that.  
						p
							a.gbtn #{l.btn.moreinfo}
			div.services.odd 
				div.container
					div.row.ourser
						div.span8.posr.sercontent
							p.w80 BrightByte Studio is a digital marketing solutions company based in Southampton. Our ninja-like skills include web design & development, graphic design and online marketing. We’re a young, energetic and determined team driven by results who love to help new businesses succeed. Bursting with enthusiasm, we can’t wait to work with you!
						div.span4
							h1.m0
								a OUR SERVICES
							ul.list_se
								li Web Design
								li Web Development 
								li Web Development 
								li Web Development 
								li Web Development 
								li Web Development 
						div.span8.liner


block scripts