extends layout
block content_here
	section.homepage
		div#banner.banner
		div#content.content
			div.container.services
				h3 #{l.services.h3}
				h2 #{l.services.h2}
				div.row
					div.span4
						h1
							a WEB DESIGN
						p We conceptualise and create your identity with something that’s engaging, unique, relevant and consistent to best communicate your brand message.
						a.gbtn #{l.btn.more}
					div.span4
						h1
							a WEB DESIGN
						p We conceptualise and create your identity with something that’s engaging, unique, relevant and consistent to best communicate your brand message.
						a.gbtn #{l.btn.more}
					div.span4
						h1
							a WEB DESIGN
						p Designing and producing beautiful websites is what we’re really passionate about. Your business is great and we’ll make sure your website amplifies that.  
						a.gbtn #{l.btn.more}

block scripts