doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
		meta(name="viewport",content="width=device-width, initial-scale=1.0")
		block title
		link(rel="shortcut icon",href="/favicon.ico")
		link(rel="canonical",href="http://www.Giccoo.com/")
		link(rel="stylesheet",type="text/css",href="/css/bootstrap.min.css") 
		link(rel="stylesheet",type="text/css",href="/css/bootstrap-responsive.min.css") 
		link(rel="stylesheet",type="text/css",href="/css/animate.css") 
		link(rel="stylesheet",type="text/css",href="/css/main.css")
		block css
		script(src="/js/vendor/modernizr-2.6.2.min.js")
		//if lte IE7
			style .support-note .note-ie{display:block;}
	body 
		header(id="header").header
			div.container.clearfix
				div.logo
					a(href="/") 
						img(src="/img/logo_text.png",width="120",height="60")
				div.header_nav
					button.phonenav
					ul#nav.menu_nav.clearfix
						li
							a(href="/") #{l.menu.home}
						li
							a(href="/") #{l.menu.work}
						li
							a(href="/") #{l.menu.services}
						li
							a(href="/") #{l.menu.aboutus}
						li
							a(href="/") #{l.menu.contact}
						li
							a(href="/") #{l.menu.blog}
		block content_here
			footer.footer(id="footer")
				div.container
					div.row.sitemap
						div.span2
							ul
								li.title COMPANY
								li 
									a About US
								li 
									a Our Services
								li 
									a Our Services
						div.span2
							ul
								li.title SOCIAL
								li 
									a About US
								li 
									a Our Services
								li 
									a Our Services
						div.span4
							ul
								li.title CONTACT
								li 
									a +86 010 650000000
								li 
									a giccoo@giccoo.com
								li yanhaisailuocheng202, beijing,china
						div.span4
							ul
								li.title NEWS LETTER
								li
									label Keep up to date with all our latest goings on.
									input(type="text")
					div.row.copyright
						| © 2013 GICCOO LTD | ALL RIGHTS RESERVED
						img.footlogo(src="/img/logo-w.png")

		script(src="/js/vendor/jquery-1.10.1.min.js")
		script(src="/js/bootstrap.min.js")
		script(src="/js/jquery.pjax.js")
		script(src="/js/plugins.js")
		script(src="/js/main.js") 
		block scripts 
		block script