doctype
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")
		meta(name="viewport",content="width=device-width, initial-scale=1.0")
		block title
		//- link(rel="shortcut icon",type="image/x-icon",href="http://www.giccoo.com/favicon.ico")
		//- link(rel="icon",type="image/x-icon",href="http://www.giccoo.com/favicon.ico")

		link(rel="canonical",href="http://www.Giccoo.com")
		link(rel="stylesheet",type="text/css",href="http://fonts.googleapis.com/css?family=Lato:300,400,700,900,300italic,400italic,700italic")
		link(rel="stylesheet",type="text/css",href="http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here")
		link(rel="stylesheet",type="text/css",href="http://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600")
		link(rel="stylesheet",type="text/css",href="#{config.cdn}/css/bootstrap.min.css")
		link(rel="stylesheet",type="text/css",href="#{config.cdn}/css/bootstrap-responsive.min.css")
		link(rel="stylesheet",type="text/css",href="#{config.cdn}/css/animate.css")
		link(rel="stylesheet",type="text/css",href="#{config.cdn}/css/main.css")
		block css
		script(src="/js/vendor/modernizr-2.6.2.min.js")
		//if lte IE7
			style .support-note .note-ie{display:block;}
	body
		header(id="header").header
			div.container.clearfix
				div.logo
					a(href="/")
						img(src="/img/logo_text.png",width="120",height="40")
				div.header_nav
					button.phonenav
					ul#nav.menu_nav.clearfix
						li
							a(href="#{l.menu.home.url}") #{l.menu.home.name}
						li
							a(href="#{l.menu.work.url}") #{l.menu.work.name}
						li
							a(href="#{l.menu.services.url}") #{l.menu.services.name}
						li
							a(href="#{l.menu.aboutus.url}") #{l.menu.aboutus.name}
						li
							a(href="#{l.menu.contact.url}") #{l.menu.contact.name}
						li
							a(href="#{l.menu.blog.url}") #{l.menu.blog.name}
		block content_here
		footer.footer(id="footer")
			div.container
				div.row-fluid.sitemap
					div.span2
						ul
							li.title #{l.menu.company.name}
							li
								a(href="#{l.menu.aboutus.url}") #{l.menu.aboutus.name}
							li
								a(href="#{l.menu.services.url}") #{l.menu.services.name}
							li
								a(href="#{l.menu.blog.url}") #{l.menu.blog.name}
					div.span2
						ul
							li.title #{l.menu.social.name}
							li
								a(href="#{l.social.twitter.url}",target="_blank") #{l.social.twitter.name}
							li
								a(href="#{l.social.facebook.url}",target="_blank") #{l.social.facebook.name}
							li
								a(href="#{l.social.dribbble.url}",target="_blank") #{l.social.dribbble.name}
					div.span4
						ul
							li.title #{l.menu.contact.name}
							li
								a(href="tel:#{l.contact.tel}") #{l.contact.tel}
							li
								a(href="mailto:#{l.contact.email}") #{l.contact.email}
							li #{l.contact.adr}
					div.span4
						ul
							li.title #{l.letter.title}
							li
								label #{l.letter.content}
								div.control-group
									input.span4(name="email",type="text",placeholder="#{l.letter.placeholder}")
									a.input-icon(href="javascript:void(0)",onclick="getourmail('#{language}')")
										i.fui-mail
				div.row.copyright
					| © 2013 GICCOO LTD | ALL RIGHTS RESERVED
					img.footlogo(src="/img/logo-w.png",alt="Giccoo")

		script(src="#{config.cdn}/js/vendor/jquery-1.10.1.min.js")
		script(src="#{config.cdn}/js/vendor/bootstrap.min.js")
		script(src="#{config.cdn}/js/vendor/jquery.pjax.js")
		//- script(src="#{config.cdn}/js/plugins.js")
		script(src="#{config.cdn}/js/main.js")
		block scripts
		block script