div#page-work.pages.page-work
	div.container
		header
			h4.line-divider #{l.works.title}
			h1 #{l.works.portfolio}
			div.row
				div.span8.offset2
					p #{l.works.description}
			div.submenu
				ul
					li
						a.plugin-filter.active(href="#",data-filter="all") All
					-for(var i=0;i<taglist.length;i++)
						li
							a.plugin-filter(href="#",data-filter="#{taglist[i].name}") #{taglist[i].name}
		article
			ul.thumbnails.plugin-filter-elements.portfolio-items
				-for(var i = 0;i<worklist.length;i++)
					-var wk_tag = ""
					-for(var j=0;j<worklist[i].tag_id.length;j++)
						-wk_tag += " "+worklist[i].tag_id[j].name
					li(class="span4 mix #{wk_tag}")
						a(href="#work/#{worklist[i].shortname}",data-destination="portfolio-items",data-insert="before")
							img(src="#{worklist[i].small_img}")
							div.portfolio-overlay
								h4 #{worklist[i].title}
		-if (workcount.count > (workcount.page)*workcount.size)
			footer
				//- p !{workcount.count}
				div.show-more-cube
					a#pages(href="#works/2",data-pages="#{workcount.count}",data-destination="plugin-filter-elements",data-insert="appendTo")
						span !{l.works.more}
					