extends layout 
block title
	title #{l.t.homepage}
block content_here
	div.page-title
		h1 Menu
	div.row
		div.col-lg-12
			div.widget-container.fluid-height.clearfix
				div.heading
					i.icon-table
					|Menu Table with Sorting
				div.widget-content.padded.clearfix 
					table#dataMenuTable.table.table-bordered.table-striped.dataTable
						thead
							th.check-header.hidden-xs
							th Menu Name
							th Url
							th Order
							th Date Added
							th
						tbody
							- for (var i=0;i<menulist.length;i++)
								tr
									td.check.hidden-xs
										<input name="menuoptions" type="checkbox" value="option1">
									td #{menulist[i].name} 
									td #{menulist[i].url}
									td #{menulist[i].description}
									td #{menulist[i].create_at} 
									td.actions
										div.action-buttons
											a.table-actions(href="/#{menulist[i].name}")
												i.icon-eye-open
											a.table-actions(href="/admin/menu/update/#{menulist[i].id}")
												i.icon-pencil
											a.table-actions(href="/admin/menu/del/#{menulist[i].id}",onclick="return confirm('#{l.note.del}');")
												i.icon-trash



block scripts
	script(src="/js/vendor/jquery.dataTables.min.js")
	script(src="/js/admin/menu.js")
block script 
